.primary-color {
  color: #F58123;
}

.primary-bg-color {
  background: #F58123;
}

.secondary-color {
  color: #2D2D2D;
}

.secondary-bg-color {
  background-color: #2D2D2D;
}

.container {
  overflow-x: hidden;
}