.news-bg {
    background-image: url('../../Images/imagecompressor/28532-min.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-blend-mode: darken;
    background-color: rgba(45, 58, 74, 0.9);
}

.textHover:hover {
    background-color: rgb(122, 121, 120);
    color: black;
}

.texHover:active {
    background-color: rgb(122, 121, 120);
    color: black;
}