.icon-1 {
    position: relative;
    top: 38px;
    right: 80px;
}

.icon-2 {
    position: relative;
    top: 38px;
    right: 50px;
}

.icon-3 {
    position: relative;
    top: 38px;
    right: 60px;
}

.icon-4 {
    position: relative;
    top: 38px;
    right: 15px;
}

.icon-5 {
    position: relative;
    top: 38px;
    right: 100px;
}